/* Add CSS Styling */
.b-one,
.b-two {
    font-size: 28px;
    font-family: 'helvetica', 'times new roman', sans-serif
}

.b-one {
    color: #ffffff;
    background-color: #000000;
}

.b-two {
    background-color: rgb(255, 255, 0);
}